<?xml version="1.0"?>
<!--
 /**
 * GoMage ProCart Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2014 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 2.1
 * @since        Class available since Release 1.0
 */
 -->
<config>
    <tabs>
        <gomage translate="label">
            <label>GoMage</label>
            <sort_order>200</sort_order>
        </gomage>
    </tabs>
    <sections>
        <gomage_activation>
            <label>Activation</label>
            <tab>gomage</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <procart translate="label">
                    <label>GoMage ProCart v.2.1</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <key>
                            <label>Activation Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </key>
                        <websites translate="label">
                            <label>Select Websites</label>
                            <frontend_type>checkbox</frontend_type>
                            <source_model>adminhtml/system_config_source_website</source_model>
                            <frontend_model>gomage_procart/adminhtml_config_form_renderer_website</frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </websites>
                        <ar>
                            <frontend_type>hidden</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ar>
                        <time>
                            <frontend_type>hidden</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </time>
                        <installed>
                            <frontend_type>hidden</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </installed>
                        <count>
                            <frontend_type>hidden</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </count>
                    </fields>
                </procart>
            </groups>
        </gomage_activation>
        <gomage_notification>
            <label>Notifications</label>
            <tab>gomage</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <notification>
                    <label>Notifications</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enable>
                            <label>I'd like to get advertising by GoMage</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enable>
                    </fields>
                </notification>
            </groups>
        </gomage_notification>
        <gomage_procart>
            <label>ProCart</label>
            <tab>gomage</tab>
            <frontend_type>text</frontend_type>
            <sort_order>220</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable>
                            <label>Enable ProCart</label>
                            <frontend_type>select</frontend_type>
                            <frontend_model>gomage_procart/adminhtml_config_form_renderer_enabledisable</frontend_model>
                            <source_model>gomage_procart/adminhtml_system_config_source_enabledisable</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>
                        <add_effect>
                            <label>Add to Cart Effect</label>
                            <frontend_type>select</frontend_type>
                            <source_model>gomage_procart/adminhtml_system_config_source_addeffect</source_model>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </add_effect>
                        <slide_destination>
                            <label>Slide Destination</label>
                            <frontend_type>select</frontend_type>
                            <source_model>gomage_procart/adminhtml_system_config_source_slidedestination</source_model>
                            <sort_order>36</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><add_effect>2</add_effect></depends>
                        </slide_destination>
                        <disable_cart>
                            <label>Disable Shopping Cart Page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>45</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </disable_cart>
                    </fields>
                </general>
                <qty_settings translate="label">
                    <label>Change Qty Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <category>
                            <label>Change Qty on Category Page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>gomage_procart/adminhtml_system_config_source_qtyview</source_model>>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </category>
                        <category_page_qty>
                            <label>Show Qty Box on Category Page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </category_page_qty>
                        <product>
                            <label>Change Qty on Product Page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>gomage_procart/adminhtml_system_config_source_qtyview</source_model>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product>
                        <cart_sidebar>
                            <label>Change Qty in My Cart Block</label>
                            <frontend_type>select</frontend_type>
                            <source_model>gomage_procart/adminhtml_system_config_source_qtyview</source_model>
                            <sort_order>45</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cart_sidebar>
                        <cart_page>
                            <label>Change Qty on Cart Page</label>
                            <frontend_type>select</frontend_type>
                            <source_model>gomage_procart/adminhtml_system_config_source_qtyview</source_model>
                            <sort_order>55</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cart_page>
                        <category_page_popup>
                            <label>Change Qty in Pop-up Window</label>
                            <frontend_type>select</frontend_type>
                            <source_model>gomage_procart/adminhtml_system_config_source_qtyview</source_model>
                            <sort_order>65</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </category_page_popup>
                        <crosssell_prods>
                            <label>Change Cross-sell Products Qty</label>
                            <frontend_type>select</frontend_type>
                            <source_model>gomage_procart/adminhtml_system_config_source_qtyview</source_model>
                            <sort_order>66</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </crosssell_prods>
                        <upsell_prods>
                            <label>Change Up-sell Products Qty</label>
                            <frontend_type>select</frontend_type>
                            <source_model>gomage_procart/adminhtml_system_config_source_qtyview</source_model>
                            <sort_order>67</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </upsell_prods>
                        <related_prods>
                            <label>Add Related Products</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>68</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </related_prods>
                    </fields>
                </qty_settings>
                <skin_qty_button_design>
                    <label>Add Quantity Button Design</label>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>21</sort_order>
                    <fields>
                        <arrows_color_bg_plus>
                            <label>Add Button Background Color</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>e.g. "ffffff", "000" </comment>
                            <validate>color</validate>
                        </arrows_color_bg_plus>
                        <mouse_over_bg_color>
                            <label>Mouse Over Background Color</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>e.g. "ffffff", "000" </comment>
                            <validate>color</validate>
                        </mouse_over_bg_color>
                        <arrows_color_text_plus>
                            <label>Add Button Text Color</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>e.g. "ffffff", "000" </comment>
                            <validate>color</validate>
                        </arrows_color_text_plus>
                        <mouse_over_txt_color>
                            <label>Mouse Over Text Color</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>18</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>e.g. "ffffff", "000" </comment>
                            <validate>color</validate>
                        </mouse_over_txt_color>
                    </fields>
                </skin_qty_button_design>
                <skin_detract_qty_button_design>
                    <label>Detract Quantity Button Design</label>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>22</sort_order>
                    <fields>
                        <arrows_color_bg_minus>
                            <label>Detract Button Background Color</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>e.g. "ffffff", "000" </comment>
                            <validate>color</validate>
                        </arrows_color_bg_minus>
                        <mouse_over_bg_color>
                            <label>Mouse Over Background Color</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>e.g. "ffffff", "000" </comment>
                            <validate>color</validate>
                        </mouse_over_bg_color>
                        <arrows_color_text_minus>
                            <label>Detract Text Color</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>e.g. "ffffff", "000" </comment>
                            <validate>color</validate>
                        </arrows_color_text_minus>
                        <mouse_over_txt_color>
                            <label>Mouse Over Text Color</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>e.g. "ffffff", "000" </comment>
                            <validate>color</validate>
                        </mouse_over_txt_color>
                    </fields>
                </skin_detract_qty_button_design>
                <ajaxloader translate="label">
                    <label>Ajax Window Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <loadimage translate="label">
                            <label>Ajax Loader View</label>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">gomage/config</upload_dir>
                            <base_url type="media" scope_info="1">gomage/config</base_url>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </loadimage>
                        <imagealign translate="label">
                            <label>Image Alignment</label>
                            <frontend_type>select</frontend_type>
                            <source_model>gomage_procart/adminhtml_system_config_source_imagealign</source_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </imagealign>
                        <bgcolor>
                            <label>Background Color</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>e.g. "ffffff", "000" </comment>
                            <validate>color</validate>
                        </bgcolor>
                        <bordercolor>
                            <label>Border Color</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>45</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>e.g. "ffffff", "000" </comment>
                            <validate>color</validate>
                        </bordercolor>
                        <width>
                            <label>Window Width, px</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>55</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </width>
                        <height>
                            <label>Window Height, px</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>65</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </height>
                        <text>
                            <label>Ajax Loader Text</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>75</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </text>
                        <textcolor>
                            <label>Text Color</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>47</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>e.g. "ffffff", "000" </comment>
                            <validate>color</validate>
                        </textcolor>
                    </fields>
                </ajaxloader>
                <confirm_window translate="label">
                    <label>Confirmation Window Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>15</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <show_window>
                            <label>Show Confirmation Window</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_window>
                        <auto_hide_window>
                            <label>Auto Hide Window, seconds</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auto_hide_window>
                        <redirect_to>
                            <label>Redirect Customer to</label>
                            <frontend_type>select</frontend_type>
                            <source_model>gomage_procart/adminhtml_system_config_source_confirmation_redirect</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </redirect_to>
                        <continue_btn_txt>
                            <label>Continue Button Text</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>e.g. "Continue Shopping" </comment>
                        </continue_btn_txt>
                        <cart_btn_txt>
                            <label>Cart Button Text</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>e.g. "Go to Shopping Cart" </comment>
                        </cart_btn_txt>
                        <checkout_btn_txt>
                            <label>Checkout Button Text</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>e.g. "Proceed to Checkout" </comment>
                        </checkout_btn_txt>
                        <wishlist_btn_txt>
                            <label>Wishlist Button Text</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>23</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>e.g. "Go to Wishlist" </comment>
                        </wishlist_btn_txt>
                        <compare_btn_txt>
                            <label>Compare Products Button Text</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>24</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>e.g. "Show Compare Products" </comment>
                        </compare_btn_txt>
                    </fields>
                </confirm_window>

                <confirm_wind translate="label">
                    <label>Confirmation Window</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>16</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <bgcolor>
                            <label>Background Color</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>45</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>e.g. "ffffff", "000" </comment>
                            <validate>color</validate>
                        </bgcolor>
                        <width>
                            <label>Window Width, px</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>55</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </width>
                        <max_win_height>
                            <label>Maximum Window Height, px</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>56</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </max_win_height>
                        <border_size>
                            <label>Border Size, px</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>65</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </border_size>
                        <bordercolor>
                            <label>Border Color</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>75</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>e.g. "ffffff", "000" </comment>
                            <validate>color</validate>
                        </bordercolor>
                        <background_view>
                            <label>Background Color Behind Window </label>
                            <frontend_type>select</frontend_type>
                            <source_model>gomage_procart/adminhtml_system_config_source_confirmation_backgroundview</source_model>
                            <sort_order>85</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </background_view>
                    </fields>
                </confirm_wind>

                <continue_btn_design translate="label">
                    <label>Continue Button Design</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>17</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <shopping_button_color>
                            <label>Continue Button Color</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>45</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>e.g. "ffffff", "000" </comment>
                            <validate>color</validate>
                        </shopping_button_color>
                        <gradient translate="label">
                            <label>Use Gradient</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>46</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </gradient>
                        <shopping_button_color2>
                            <label>Continue Button Color 2</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>47</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><gradient>1</gradient></depends>
                            <comment>e.g. "ffffff", "000" </comment>
                            <validate>color</validate>
                        </shopping_button_color2>
                        <mouse_over_bg_color>
                            <label>Mouse Over Backgroung Color</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>48</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>e.g. "ffffff", "000" </comment>
                            <validate>color</validate>
                        </mouse_over_bg_color>
                        <mouse_over_bg_color2>
                            <label>Mouse Over Backgroung Color 2</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>49</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><gradient>1</gradient></depends>
                            <comment>e.g. "ffffff", "000" </comment>
                            <validate>color</validate>
                        </mouse_over_bg_color2>
                        <button_radius>
                            <label>Button Radius</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>e.g. "4"</comment>
                        </button_radius>
                    </fields>
                </continue_btn_design>
                <cart_button_design translate="label">
                    <label>Cart/Checkout Button Design</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>18</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <cart_btn_color>
                            <label>Cart/Checkout Button Color</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>45</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>e.g. "ffffff", "000" </comment>
                            <validate>color</validate>
                        </cart_btn_color>
                        <gradient translate="label">
                            <label>Use Gradient</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>46</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </gradient>
                        <cart_btn_color2>
                            <label>Cart/Checkout Button Color 2</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>47</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><gradient>1</gradient></depends>
                            <comment>e.g. "ffffff", "000" </comment>
                            <validate>color</validate>
                        </cart_btn_color2>
                        <mouse_over_bg_color>
                            <label>Mouse Over Backgroung Color</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>48</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>e.g. "ffffff", "000" </comment>
                            <validate>color</validate>
                        </mouse_over_bg_color>
                        <mouse_over_bg_color2>
                            <label>Mouse Over Backgroung Color 2</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>49</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><gradient>1</gradient></depends>
                            <comment>e.g. "ffffff", "000" </comment>
                            <validate>color</validate>
                        </mouse_over_bg_color2>
                        <button_radius>
                            <label>Button Radius</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>e.g. "4"</comment>
                        </button_radius>
                    </fields>
                </cart_button_design>
            </groups>
        </gomage_procart>
    </sections>
</config>